@model IEnumerable<MedCRM.Data.Patient>
@{
    Layout = null;
}
<h3>Пациенты</h3>
<table>
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Номер телефона</td>
        <td></td>
    </tr>
    @foreach (var patient in Model)
    {
        <tr>
            <td>@patient.Firstname</td>
            <td>@patient.Lastname</td>
            <td>@patient.PhoneNumber</td>
            <td>@patient.TelegramId</td>
        </tr>
    }
</table>
